<a href="https://colab.research.google.com/github/Maneshna/Moblie-Price-Predictor-/blob/main/mobile_price_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:


df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Mobile_phone_price.csv")
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [5]:
#check the basic info
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [6]:
df.isnull().sum()

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
dtype: int64

In [7]:
#check duplicate
df.duplicated().sum()

np.int64(26)

In [8]:
df.dtypes

Brand                     object
Model                     object
Storage                   object
RAM                       object
Screen Size (inches)      object
Camera (MP)               object
Battery Capacity (mAh)     int64
Price ($)                 object
dtype: object

In [9]:
df.nunique()

Brand                      16
Model                     239
Storage                    13
RAM                        20
Screen Size (inches)       41
Camera (MP)               143
Battery Capacity (mAh)     48
Price ($)                  89
dtype: int64

In [11]:
df.describe()

       Battery Capacity (mAh)
count              407.000000
mean              4676.476658
std                797.193713
min               1821.000000
25%               4300.000000
50%               5000.000000
75%               5000.000000
max               7000.000000

In [14]:
df.dtypes

Brand                     object
Model                     object
Storage                   object
RAM                       object
Screen Size (inches)      object
Camera (MP)               object
Battery Capacity (mAh)     int64
Price ($)                 object
dtype: object

In [16]:
for col in df.columns:
    print(repr(col))

'Brand'
'Model'
'Storage '
'RAM '
'Screen Size (inches)'
'Camera (MP)'
'Battery Capacity (mAh)'
'Price ($)'

In [17]:
df.columns = df.columns.str.strip()

In [18]:
df['Storage']

0      128 GB
1      256 GB
2      128 GB
3      128 GB
4      128 GB
        ...
402       128
403       128
404       128
405       128
406       128
Name: Storage, Length: 407, dtype: object

In [20]:
#cleaning the datatype since the storage didn't have all int values and it will get difficult to do it run the ML model in this case
df['Storage'] = df['Storage'].str.replace(r'\D', '', regex=True).astype(int)
df['RAM'] = df['RAM'].str.replace(r'\D', '', regex=True).astype(int)

In [22]:
import re

df['Camera (MP)'] = df['Camera (MP)'].apply(
    lambda x: sum(map(float, re.findall(r'\d+\.?\d*', str(x))))
)

In [23]:
df.drop(columns=['Model'], inplace=True)

In [24]:
X = df[
    [
        'Storage',
        'RAM',
        'Screen Size (inches)',
        'Camera (MP)',
        'Battery Capacity (mAh)'
    ]
]

y = df['Price ($)']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=42
)

model = LinearRegression()
model.fit(X_train, y_train)

ValueError: could not convert string to float: '7.6 (unfolded)'

In [28]:
import re

df['Screen Size (inches)'] = df['Screen Size (inches)'].apply(
    lambda x: float(re.findall(r'\d+\.?\d*', str(x))[0])
)

In [30]:
import re

# Storage & RAM
df['Storage'] = df['Storage'].str.replace(r'\D', '', regex=True).astype(int)
df['RAM'] = df['RAM'].str.replace(r'\D', '', regex=True).astype(int)

# Screen size (FIXED)
df['Screen Size (inches)'] = df['Screen Size (inches)'].apply(
    lambda x: float(re.findall(r'\d+\.?\d*', str(x))[0])
)

# Camera (MP)
df['Camera (MP)'] = df['Camera (MP)'].apply(
    lambda x: sum(map(float, re.findall(r'\d+\.?\d*', str(x))))
)

# Price
df['Price ($)'] = df['Price ($)'].str.replace(r'\D', '', regex=True).astype(int)

AttributeError: Can only use .str accessor with string values!